*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(157, 228, 224, 0.466);
}
#container{
    background-color: rgba(255, 255, 255, 0.696);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
    min-width: 70vw;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}
#container h1{
    text-align: center;
    margin: 30px 0px 20px;
    font-family: 'Times New Roman', Times, serif;
}
label{
    display: block;
    font-size: 1.3em;
}
div > input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    font-size: 1.7em;
    padding: 0px 20px;
}
div > input:focus{
    outline: 1px solid inherit;
}
button{
    border: none;
    background-color: rgb(139, 206, 206);
    padding: 5px;
    margin: auto;
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    cursor: pointer;
}
button:hover{
    background-color: rgb(63, 94, 94);
}